* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

#game {
  margin: auto;
  margin-top: 200px;
  height: 100%;
  width: 340px;
  display: flex;
  flex-wrap: wrap;
}
.game_grid {
  background-color: black;
  width: 100px;
  height: 100px;
  border: 2px solid orangered;
}
.game_grid:hover {
  cursor: pointer;
}
.game_grid:active {
  background-color: blue;
}

.pressed {
  background-color: purple;
}
.pressed_enemy {
  background-color: brown;
}
